# Игнорировать системные файлы Mac
.DS_Store

# Игнорировать виртуальное окружение
venv/
.Python
env/

# Игнорировать переменные окружения (пароли)
.env
1.env

# Игнорировать кэш
__pycache__/
*.py[cod]
